<!DOCTYPE html>
<html>
    <head>
        <title>Time Display</title>
    </head>
    <body>
        <p> The current time and date:
        <br>
        <%= @CurrentDateTime %></p>
    </body>
</html>
